*{
    box-sizing: border-box;
}


html{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}

body {
    background-color: #fafafa;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 736px;
    /* max-height: 736px; */
    margin: auto;
    padding-top: 60px;

}

.inner-container{
   display: flex;
   flex-direction: column;
   margin-top: 40px;
   border: 1px solid #dbdbdb;
   border-radius: 4px;
   background-color: white;
   height: 558px;
   width: 762px;

}



/** image container secction  */
.image-container{
    width: 60%;
    position: relative;
}

.comment-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-container {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i{
    color: white;
    font-size: 12px;
}

/** comment container secction  */


.comment-header {
    padding: 16px;
    display: flex;
    border-bottom: 1px solid #efefef;
    align-items: center;
    font-size: 14px;
    width: 304px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #a2d8e9;
    margin-right: 16px;
}

.user-avatar-h {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #a2d8e9;
    margin-right: 16px;
}

.dot-divider {
       margin: 0 4px;

}

.follow-link {
    color: #3897f0;
    font-weight: bold;
}

.more-options {
    margin-left: auto;
    color: #262626;
}

.comment-feed-container {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-height: calc(100%-250px);
    overflow-y: auto;
}

.comment {
    display: flex;
    margin: 8px 0;
    
}

.comment-content {
margin: 0;
}

.comment-container-footer {
    padding: 16px;
    border-top:  1px solid #efefef;

}

.icons-container {
    display: flex;
}

.icons-container i{
    margin-right: 4px;
    font-size: 24px;

}

.icons-container i:last-child {
    margin-left: auto;
    margin-right: 0;
}

.input-container {
    display:flex ;
    border-top: #efe;
}

.comment-input {
    flex: 1;
    border: none;
}

.comment-buttom {
    border: none;
    background: transparent;
    color: #3897f0;
    font-size: 14px;
    font-weight: bold;
}

/** header secction**/
.nav-bar{
    background-color: white;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    font-size: 24px;
    height: 55px;
    width: 100%;
    position: fixed;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.ig-logo-container {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
}

.searching-box-container {
    width: 25%;
    height: 90%;
    display: flex;
    align-items: center;
}

.header-icons-container {
    width: 25%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal{
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.30);
    z-index: 10;
    display: none;
}

.button-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}

.butt-s{
    border: 1px solid black;
}


.comment-like{
    transform: scale(1);
    transition: scale 0.25s ease;
}
.comment-like-active{
    color: red;
    transform: scale(1.5);
}

.user-name{
    padding-right: 14px;
}

@media screen and (min-width: 300px) {
    .inner-container {
        flex-direction: row;
        max-width: 100vw;
        overflow: auto;
    }

    .image-container{
        width: 100%;
    }

    .comment-container{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    body {
        width: 100vw;
    }
    
}